html, body {
  font-size: 15px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root, .container {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

/* Header */

.header {
  width: 100%;
  height: 6.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  margin-left: 1.6em;
}

.logo {
  height: 1.8em;
}

.menu-area {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.6em;
}

.hamburger {
  height: 1.8em;
}

/* Hero */

.hero {
  height: 56.2em;
  display: flex;
  flex-direction: column;
  background-color: #E7816B;
  margin: 0;
}

.textfield-hero {
  width: 21.8em;
  height: 20.8em;
  margin: 5.53em 1.6em 0 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textfield-hero > h1 {
  font-size: 2.13em;
  text-align: center;
}

.textfield-hero > p {
  text-align: center;
  font-size: 1em;
  margin-top: 0.93em;
}

.hero-btn {
  width: 10.13em;
  height: 3.73em;
  color: #333136;
  margin-top: 1.6em;
  background-color: #FFFFFF;
}

.phoneimg-area {
  position: absolute;
  height: 38.2em;
  width: 18.6em;
  top: 38.2em;
  margin-right: 3.1753em;
  margin-left: 3.2246em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* project buttons */

.project-btn-area {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.project-btn > h1 {
  font-size: 28px;
  margin-bottom: 12px;
}

.project-btn > h2 {
  font-size: 1em;
}

.project-btn-first {
  width: 21.8em;
  height: 16.6em;
  margin: 8em 1.6em 1.6em 1.6em;
  background: rgba(0, 0, 0, .65) url(./assets/home/mobile/image-web-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  border-radius: 1em;
  color: white;
}

.project-btn-second {
  width: 21.8em;
  height: 16.6em;
  margin: 1.6em 1.6em 1.6em 1.6em;
  background: rgba(0, 0, 0, .65) url(./assets/home/mobile/image-app-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  border-radius: 1em;
  color: white;
}

.project-btn-third {
  width: 21.8em;
  height: 16.6em;
  margin: 1.6em 1.6em 0 1.6em;
  background: rgba(0, 0, 0, .65) url(./assets/home/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  border-radius: 1em;
  color: white;
}

/* Key Words*/

.keyword-area {
  width: 327px;
  height: 1396px;
  margin: 120px 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.passionate-card {
  width: 327px;
  height: 412px;
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.resourceful-card {
  width: 327px;
  height: 412px;
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.friendly-card {
  width: 327px;
  height: 412px;
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

