html, body {
  font-size: 15px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root, .container {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

/* Header */

.header {
  width: 100%;
  height: 6.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  margin-left: 1.6em;
}

.logo {
  height: 1.8em;
}

.menu-area {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.6em;
}

.hamburger {
  height: 1.8em;
}

/* Hero */

.hero {
  height: 56.2em;
  display: flex;
  flex-direction: column;
  background-color: #E7816B;
  margin: 0;
}

.textfield-hero {
  width: 21.8em;
  height: 20.8em;
  margin: 5.53em 1.6em 0 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textfield-hero > h1 {
  font-size: 2.13em;
  text-align: center;
}

.textfield-hero > p {
  text-align: center;
  font-size: 1em;
  margin-top: 0.93em;
}

.hero-btn {
  width: 10.13em;
  height: 3.73em;
  color: #333136;
  margin-top: 1.6em;
  background-color: #FFFFFF;
}

.phoneimg-area {
  position: absolute;
  height: 38.2em;
  width: 18.6em;
  top: 38.2em;
  margin-right: 3.1753em;
  margin-left: 3.2246em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* project buttons */

.project-btn-area {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.project-btn > h1 {
  font-size: 1.86em;
  margin-bottom: 0.8em;
}

.project-btn > h2 {
  font-size: 1em;
}

.project-btn-first {
  width: 21.8em;
  height: 16.6em;
  margin: 8em 1.6em 1.6em 1.6em;
  background: rgba(0, 0, 0, .65) url(./assets/home/mobile/image-web-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  border-radius: 1em;
  color: white;
}

.project-btn-second {
  width: 21.8em;
  height: 16.6em;
  margin: 1.6em 1.6em 1.6em 1.6em;
  background: rgba(0, 0, 0, .65) url(./assets/home/mobile/image-app-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  border-radius: 1em;
  color: white;
}

.project-btn-third {
  width: 21.8em;
  height: 16.6em;
  margin: 1.6em 1.6em 0 1.6em;
  background: rgba(0, 0, 0, .65) url(./assets/home/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  border-radius: 1em;
  color: white;
}

/* Key Words*/

.keyword-area {
  width: 21.8em;
  height: 93.06em;
  margin: 8em 1.6em 20.7em 1.6em;
  display: flex;
  flex-direction: column;
}

.passionate-card {
  width: 21.8em;
  height: 27.46em;
  margin: 5.3em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.passionate-card > h2, .resourceful-card > h2, .friendly-card > h2  {
  margin-top: 3.2em;
  margin-bottom: 2.13em;
}

.resourceful-card {
  width: 21.8em;
  height: 27.46em;
  margin: 5.3em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.friendly-card {
  width: 21.8em;
  height: 27.46em;
  margin: 5.3em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Footer */

.footer {
  width: 100%;
  min-height: 54.3em;
  background-color: #1D1C1E;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 19.06em 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer-textfield {
  height: 33.2em;
  width: 21.8em;
  margin: 16.86em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-textfield > img {
  height: 1.8em;
  width: 13.46em;
  margin: 0 4.13 0 4.2em;
}

#h2-1 {
  font-size: 0.93;
  margin: 4.3em 0 0 0;
}

#h2-2 {
  font-size: 0.93;
  margin: 2.13em 0 0 0;
}

#h2-3 {
  font-size: 0.93;
  margin: 2.13em 0 0 0;
}

.footertext {
  width: 21.8em;
  height: 5.2em;
  display: flex;
  flex-direction: column;
  font-size: 1.06em;
  margin-top: 2.6em;
  text-align: center;
}

.socialicon-area {
  width: 12.2em;
  height: 1.6em;
  margin: 2.6em 4.73em 4.26em 4.8em;
  display: flex;
}

.socialicon {
  margin-right: 1.06em;
  height: 1.6em;
  width: 1.6em;
}

/* Hero Footer */

.hero-footer {
  width: 21.8em;
  height: 25.26em;
  border-radius: 1em;
  background-color: #E7816B;
  position: absolute;
  top: 251.86em;
  margin: 0 1.6em 0 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-footertextfield {
  width: 279px;
  height: 251px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 24px 64px 24px;
}

.hero-footertextfield > h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 6px;
}

.hero-footertextfield > p {
  font-size: 15px;
  text-align: center;
}

.hero-footertextfield > button {
  font-size: 15px;
  width: 152px;
  height: 56px;
  border-radius: 15px;
  background-color: white;
  color: 333136;
  margin-top: 32px;
}

